{{#if details.errorMessage}}
  <div class='mt-2'>
    <div class='alert alert-danger'>
      <pre>{{details.errorMessage}}</pre>
    </div>
  </div>
{{else if details.allowCreateCase}}
  <div class='case-creation-form'>
    {{#if createCaseMessage}}
      <div class='alert alert-information mt-1'>
        {{createCaseMessage}}
      </div>
    {{/if}}

    {{#if createCaseErrorMessage}}
      <div class='alert alert-information mt-1'>
        {{createCaseErrorMessage}}
      </div>
    {{/if}}
    <table class='case-inputs'>
      <tr>
        <td> <label for='title'>Title: </label></td>
        <td>{{input
            disabled=buttonDisabled
            class='case-title'
            onclick=(action (mut titleInput value='target.value'))
            value=titleInput
            placeholder='Title'
          }}
          {{#if titleVerificationError}}
            <div class='verification-err-msg'>
              {{titleVerificationError}}
            </div>
          {{/if}}
        </td>
      </tr>
      <tr>
        <td><label>Severity: </label></td>
        <td class='level-select'>
          <input
            type='radio'
            class='white'
            disabled={{buttonDisabled}}
            id='severity-white-{{uniqueIdPrefix}}'
            name='severityLevel'
            onclick={{action (mut severityInput) 1}}
          />
          <label for='severity-white-{{uniqueIdPrefix}}'>White</label>
          <input
            type='radio'
            class='green'
            disabled={{buttonDisabled}}
            id='severity-green-{{uniqueIdPrefix}}'
            name='severityLevel'
            onclick={{action (mut severityInput) 2}}
          />
          <label for='severity-green-{{uniqueIdPrefix}}'>Green</label>
          <input
            type='radio'
            class='amber'
            disabled={{buttonDisabled}}
            id='severity-amber-{{uniqueIdPrefix}}'
            name='severityLevel'
            onclick={{action (mut severityInput) 3}}
          />
          <label for='severity-amber-{{uniqueIdPrefix}}'>Amber</label>
          <input
            type='radio'
            class='red'
            disabled={{buttonDisabled}}
            id='severity-red-{{uniqueIdPrefix}}'
            name='severityLevel'
            onclick={{action (mut severityInput) 4}}
          />
          <label for='severity-red-{{uniqueIdPrefix}}'>Red</label>
        </td>
      </tr>

      <tr>
        <td><label>TLP: </label></td>
        <td class='level-select'>
          <input
            type='radio'
            class='white'
            disabled={{buttonDisabled}}
            id='tlp-white-{{uniqueIdPrefix}}'
            name='tlpLevel'
            onclick={{action (mut tlpInput) 0}}
          />
          <label for='tlp-white-{{uniqueIdPrefix}}'>White</label>
          <input
            type='radio'
            class='green'
            disabled={{buttonDisabled}}
            id='tlp-green-{{uniqueIdPrefix}}'
            name='tlpLevel'
            onclick={{action (mut tlpInput) 1}}
          />
          <label for='tlp-green-{{uniqueIdPrefix}}'>Green</label>
          <input
            type='radio'
            class='amber'
            disabled={{buttonDisabled}}
            id='tlp-amber-{{uniqueIdPrefix}}'
            name='tlpLevel'
            onclick={{action (mut tlpInput) 2}}
          />
          <label for='tlp-amber-{{uniqueIdPrefix}}'>Amber</label>
          <input
            type='radio'
            class='red'
            disabled={{buttonDisabled}}
            id='tlp-red-{{uniqueIdPrefix}}'
            name='tlpLevel'
            onclick={{action (mut tlpInput) 3}}
          />
          <label for='tlp-red-{{uniqueIdPrefix}}'>Red</label>
        </td>
      </tr>

      <tr>
        <td><label>PAP: </label></td>
        <td class='level-select'>
          <input
            type='radio'
            class='white'
            disabled={{buttonDisabled}}
            id='pap-white-{{uniqueIdPrefix}}'
            name='papLevel'
            onclick={{action (mut papInput) 0}}
            checked={{if (eq case.pap 0) 'true'}}
          />
          <label for='pap-white-{{uniqueIdPrefix}}'>White</label>
          <input
            type='radio'
            class='green'
            disabled={{buttonDisabled}}
            id='pap-green-{{uniqueIdPrefix}}'
            name='papLevel'
            onclick={{action (mut papInput) 1}}
            checked={{if (eq case.pap 1) 'true'}}
          />
          <label for='pap-green-{{uniqueIdPrefix}}'>Green</label>
          <input
            type='radio'
            class='amber'
            disabled={{buttonDisabled}}
            id='pap-amber-{{uniqueIdPrefix}}'
            name='papLevel'
            onclick={{action (mut papInput) 2}}
            checked={{if (eq case.pap 2) 'true'}}
          />
          <label for='pap-amber-{{uniqueIdPrefix}}'>Amber</label>
          <input
            type='radio'
            class='red'
            disabled={{buttonDisabled}}
            id='pap-red-{{uniqueIdPrefix}}'
            name='papLevel'
            onclick={{action (mut papInput) 3}}
            checked={{if (eq case.pap 3) 'true'}}
          />
          <label for='pap-red-{{uniqueIdPrefix}}'>Red</label>
        </td>
      </tr>
    </table>
    <div class="mt-1">
      {{textarea
        class='case-description'
        onchange=(action (mut descriptionInput value='target.value'))
        value=descriptionInput
        disabled=buttonDisabled
        cols='30'
        rows='4'
        placeholder='Case Description'
      }}
    </div>
    {{#if descriptionVerificationError}}
      <div class='verification-err-msg'>
        {{descriptionVerificationError}}
      </div>
    {{/if}}
    <button class='create-case-btn' type='button' {{action 'createCase'}} disabled={{buttonDisabled}}>
      {{#if isRunning}}
        {{fa-icon icon='spinner-third' fixedWidth=true spin=true}}
      {{/if}}
      New Case
    </button>
  </div>
{{else}}
  <ul class='nav nav-tabs mb-2'>
    <li class='nav-item'>
      <a
        class='nav-link active'
        href='#'
      >
        Cases
      </a>
    </li>
  </ul>
  {{#each details as |case index|}}
      {{#if (not-eq index 0)}}
        <hr />
      {{/if}}
      {{#if (get addObservableErrorMessage index)}}
        <div class='alert alert-danger mt-1'>
          {{get addObservableErrorMessage index}}
        </div>
      {{/if}}

      {{#if (get updateCaseErrorMessage index)}}
        <div class='alert alert-danger mt-1'>
          {{get updateCaseErrorMessage index}}
        </div>
      {{/if}}

      {{#if (get updateCaseMessage index)}}
        <div class='alert alert-information mt-1'>
          {{get updateCaseMessage index}}
        </div>
      {{/if}}

      {{#if (get addObservableMessage index)}}
        <div class='alert alert-information mt-1'>
          {{get addObservableMessage index}}
        </div>
      {{/if}}

      <div class='case-options mb-1'>
        <h1 class='p-title m-0'>
          {{fa-icon icon="suitcase" fixedWidth=true}}
          Case #{{case.number}}
          {{if (get closedCase case._id) '(CASE HAS BEEN CLOSED)'}}
        </h1>

        {{#unless (get closedCase case._id)}}
          <div class="d-flex">
            <button
              disabled={{buttonDisabled}}
              class='case-btn'
              title='Add an observable to this case'
              type='button'
              {{action 'openModal' case index 'observableModal'}}
            >{{fa-icon icon='plus' fixedWidth=true}}</button>
            <button
              id='hey-btn'
              disabled={{buttonDisabled}}
              class='case-btn'
              title='Edit this case'
              type='button'
              {{action 'openModal' case index 'editModal'}}
            >
              {{fa-icon icon='pen' fixedWidth=true}}</button>
            <button
              disabled={{buttonDisabled}}
              title='Close this case'
              class='case-btn close-btn'
              type='button'
              {{action 'openModal' case index 'closeCaseModal'}}
            >{{fa-icon icon="times" fixedWidth=true}}</button>
          </div>
        {{/unless}}
      </div>

      <div class='case-container'>
        {{#if case.__editModalOpen}}
          <div class='modal case-modal'>
            <h1 class='modal-title'>
              Editing Case #{{case.number}}
            </h1>
            <table class='case-inputs'>
              <tr>
                <td> <label for='title'>Title: </label></td>
                {{#if case.title}}
                  <div>{{input
                      class='case-title'
                      onclick=(action (mut titleInput value='target.value'))
                      value=titleInput
                      placeholder='Title'
                      required='true'
                    }}</div>
                {{/if}}
              </tr>
              {{#if titleVerificationError}}
                <div class='verification-err-msg'>
                  {{titleVerificationError}}
                </div>
              {{/if}}
              <tr>
                <td><label>Severity: </label></td>
                <div class='level-select'>
                  <input
                    type='radio'
                    class='white'
                    id='severity-white-{{uniqueIdPrefix}}'
                    name='severityLevel'
                    onclick={{action (mut severityInput) 1}}
                    checked={{if (eq case.severity 1) 'true'}}
                  />
                  <label for='severity-white-{{uniqueIdPrefix}}'>White</label>

                  <input
                    type='radio'
                    class='green'
                    id='severity-green-{{uniqueIdPrefix}}'
                    name='severityLevel'
                    onclick={{action (mut severityInput) 2}}
                    checked={{if (eq case.severity 2) 'true'}}
                  />
                  <label for='severity-green-{{uniqueIdPrefix}}'>Green</label>

                  <input
                    type='radio'
                    class='amber'
                    id='severity-amber-{{uniqueIdPrefix}}'
                    name='severityLevel'
                    onclick={{action (mut severityInput) 3}}
                    checked={{if (eq case.severity 3) 'true'}}
                  />
                  <label for='severity-amber-{{uniqueIdPrefix}}'>Amber</label>

                  <input
                    type='radio'
                    class='red'
                    id='severity-red-{{uniqueIdPrefix}}'
                    name='severityLevel'
                    onclick={{action (mut severityInput) 4}}
                    checked={{if (eq case.severity 4) 'true'}}
                  />
                  <label for='severity-red-{{uniqueIdPrefix}}'>Red</label>
                </div>
              </tr>

              <tr>
                <td><label>TLP: </label></td>
                <div class='level-select'>
                  <input
                    type='radio'
                    class='white'
                    id='tlp-white-{{uniqueIdPrefix}}'
                    name='tlpLevel'
                    onclick={{action (mut tlpInput) 0}}
                    checked={{if (eq case.tlp 0) 'true'}}
                  />
                  <label for='tlp-white-{{uniqueIdPrefix}}'>White</label>

                  <input
                    type='radio'
                    class='green'
                    id='tlp-green-{{uniqueIdPrefix}}'
                    name='tlpLevel'
                    onclick={{action (mut tlpInput) 1}}
                    checked={{if (eq case.tlp 1) 'true'}}
                  />
                  <label for='tlp-green-{{uniqueIdPrefix}}'>Green</label>

                  <input
                    type='radio'
                    class='amber'
                    id='tlp-amber-{{uniqueIdPrefix}}'
                    name='tlpLevel'
                    onclick={{action (mut tlpInput) 2}}
                    checked={{if (eq case.tlp 2) 'true'}}
                  />
                  <label for='tlp-amber-{{uniqueIdPrefix}}'>Amber</label>

                  <input
                    type='radio'
                    class='red'
                    id='tlp-red-{{uniqueIdPrefix}}'
                    name='tlpLevel'
                    onclick={{action (mut tlpInput) 3}}
                    checked={{if (eq case.tlp 3) 'true'}}
                  />
                  <label for='tlp-red-{{uniqueIdPrefix}}'>Red</label>
                </div>
              </tr>

              <tr>
                <td><label>PAP: </label></td>
                <div class='level-select'>
                  <input
                    type='radio'
                    class='white'
                    id='pap-white-{{uniqueIdPrefix}}'
                    name='papLevel'
                    onclick={{action (mut papInput) 0}}
                    checked={{if (eq case.pap 0) 'true'}}
                  />
                  <label for='pap-white-{{uniqueIdPrefix}}'>White</label>

                  <input
                    type='radio'
                    class='green'
                    id='pap-green-{{uniqueIdPrefix}}'
                    name='papLevel'
                    onclick={{action (mut papInput) 1}}
                    checked={{if (eq case.pap 1) 'true'}}
                  />
                  <label for='pap-green-{{uniqueIdPrefix}}'>Green</label>

                  <input
                    type='radio'
                    class='amber'
                    id='pap-amber-{{uniqueIdPrefix}}'
                    name='papLevel'
                    onclick={{action (mut papInput) 2}}
                    checked={{if (eq case.pap 2) 'true'}}
                  />
                  <label for='pap-amber-{{uniqueIdPrefix}}'>Amber</label>

                  <input
                    type='radio'
                    class='red'
                    id='pap-red-{{uniqueIdPrefix}}'
                    name='papLevel'
                    onclick={{action (mut papInput) 3}}
                    checked={{if (eq case.pap 3) 'true'}}
                  />
                  <label for='pap-red-{{uniqueIdPrefix}}'>Red</label>
                </div>
              </tr>
            </table>
            <div>
              {{textarea
                class='case-description'
                onchange=(action (mut descriptionInput value='target.value'))
                value=descriptionInput
                cols='30'
                rows='4'
                placeholder='Case Description'
              }}
            </div>
            {{#if descriptionVerificationError}}
              <div class='verification-err-msg'>
                {{descriptionVerificationError}}
              </div>
            {{/if}}
            <div class='case-options'>
              <button class='case-modal-btn' type='button' {{action 'closeModal' index 'editModal'}}>
                Cancel
              </button>
              <button class='case-modal-btn' type='button' {{action 'updateCase' case index 'editModal'}}>
                {{#if isRunning}}
                  {{fa-icon icon='spinner-third' fixedWidth=true spin=true}}
                {{/if}}
                Submit
              </button>
            </div>
          </div>
        {{/if}}

        {{#if case.__observableModalOpen}}
          <div class='modal case-modal'>
            <h1 class="modal-title">
              Adding an observable for case #{{case.number}}
            </h1>

            <table>
              <tr>
                <td><label for='title'>Type: </label></td>
                <select
                  class='modal-select'
                  required='true'
                  onclick={{action (mut observableTypeInput) value='target.value'}}
                >
                  <option value='none' selected disabled hidden>Select Type</option>
                  <option value='hash'>hash</option>
                  <option value='ip'>ip</option>
                  <option value='domain'>domain</option>
                </select>
              </tr>
              {{#if typeVerificationError}}
                <div class='verification-err-msg'>
                  {{typeVerificationError}}
                </div>
              {{/if}}
              <tr>
                <td> <label for='value'>Value: </label></td>
                {{input
                  required=true
                  class='observable-title'
                  onclick=(action (mut observableDataInput value='target.value'))
                  value=observableDataInput
                  placeholder='Value'
                }}
              </tr>
              {{#if dataVerificationError}}
                <div class='verification-err-msg'>
                  {{dataVerificationError}}
                </div>
              {{/if}}
              <tr>
                <td><label>TLP: </label></td>
                <div class='level-select'>
                  <input
                    type='radio'
                    class='white'
                    id='white-{{uniqueIdPrefix}}'
                    name='tlpLevel'
                    onclick={{action (mut observableTlpInput) 0}}
                    checked
                  />
                  <label for='white-{{uniqueIdPrefix}}'>White</label>

                  <input
                    type='radio'
                    class='green'
                    id='green-{{uniqueIdPrefix}}'
                    name='tlpLevel'
                    onclick={{action (mut observableTlpInput) 1}}
                  />
                  <label for='green-{{uniqueIdPrefix}}'>Green</label>
                  <input
                    type='radio'
                    class='amber'
                    id='amber-{{uniqueIdPrefix}}'
                    name='tlpLevel'
                    onclick={{action (mut observableTlpInput) 2}}
                  />
                  <label for='amber-{{uniqueIdPrefix}}'>Amber</label>

                  <input
                    type='radio'
                    class='red'
                    id='red-{{uniqueIdPrefix}}'
                    name='tlpLevel'
                    onclick={{action (mut observableTlpInput) 3}}
                  />
                  <label for='red-{{uniqueIdPrefix}}'>Red</label>
                </div>
              </tr>

              <tr>
                <td><label>PAP: </label></td>
                <div class='level-select'>
                  <input
                    type='radio'
                    class='white'
                    id='pap-white-{{uniqueIdPrefix}}'
                    name='papLevel'
                    onclick={{action (mut observablePapInput) 0}}
                    checked
                  />
                  <label for='pap-white-{{uniqueIdPrefix}}'>White</label>

                  <input
                    type='radio'
                    class='green'
                    id='pap-green-{{uniqueIdPrefix}}'
                    name='papLevel'
                    onclick={{action (mut observablePapInput) 1}}
                  />
                  <label for='pap-green-{{uniqueIdPrefix}}'>Green</label>

                  <input
                    type='radio'
                    class='amber'
                    id='pap-amber-{{uniqueIdPrefix}}'
                    name='papLevel'
                    onclick={{action (mut observablePapInput) 2}}
                  />
                  <label for='pap-amber-{{uniqueIdPrefix}}'>Amber</label>

                  <input
                    type='radio'
                    class='red'
                    id='pap-red-{{uniqueIdPrefix}}'
                    name='papLevel'
                    onclick={{action (mut observablePapInput) 3}}
                  />
                  <label for='pap-red-{{uniqueIdPrefix}}'>Red</label>
                </div>
              </tr>

              <tr>
                <td> <label for='ioc'>is IOC: </label></td>
                {{input type='checkbox' checked=isIocInput onchange=(action (mut isIocInput checked='target.value'))}}
              </tr>
              <tr>
                <td> <label for='sighted'>Sighted: </label></td>
                {{input
                  type='checkbox'
                  checked=sightedInput
                  onchange=(action (mut sightedInput checked='target.value'))
                }}
              </tr>
              <tr>
                <td> <label for='tags'>Tags: </label></td>
                {{input onclick=(action (mut tagsInput value='target.value')) value=tagsInput placeholder='Tags'}}
                <div class='mb-2 create-case-footnote'>
                  <span class='p-footnote'>Add space separated strings.</span>
                </div>
              </tr>
            </table>

            <div>
              {{textarea
                class='case-description'
                onchange=(action (mut observableDescriptionInput value='target.value'))
                value=observableDescriptionInput
                cols='30'
                rows='4'
                placeholder='Observable Description'
              }}
            </div>

            <div class='case-options'>
              <button class='case-modal-btn' type='button' {{action 'closeModal' index 'observableModal'}}>
                Cancel
              </button>
              <button class='case-modal-btn' type='button' {{action 'addObservable' case index 'observableModal'}}>
                {{#if isRunning}}
                  {{fa-icon icon='spinner-third' fixedWidth=true spin=true}}
                {{/if}}
                Add Observable
              </button>
            </div>
          </div>
        {{/if}}

        {{#if case.__closeCaseModalOpen}}
          <div class='modal close-case-modal'>
            <div class='modal-text'>
              <span>
                Are you sure you want to close case
                <strong>{{case.title}}</strong>
                (#{{case.number}})?
              </span>
            </div>
            <div class='modal-options'>
              <div>
                <button {{action 'closeModal' index 'closeCaseModal'}} class='modal-btn'>Cancel</button>
              </div>
              <div>
                <button {{action 'closeCase' case index}} class='modal-btn'>
                  {{#if isRunning}}
                    {{fa-icon icon='spinner-third' fixedWidth=true spin=true}}
                  {{/if}}
                  Confirm</button>
              </div>
            </div>
          </div>
        {{/if}}

        <div class='pivot-link my-1'>
          <a href='{{block.userOptions.url}}/cases/{{case._id}}/details' class='p-link'>Pivot To Case Details {{fa-icon icon="external-link-square" fiexedWidth=true class="external-link"}}</a>
        </div>

        {{#if case.title}}
          <div>
            <span class='p-key'>Title: </span>
            <span class='p-value'>{{case.title}}</span>
          </div>
        {{/if}}

        {{#if case.severity}}
          {{#if (eq case.severity 1)}}
            <div>
              <span class='p-key'>Severity: </span>
              <span class='p-value'>WHITE</span>
            </div>
          {{/if}}
          {{#if (eq case.severity 2)}}
            <div>
              <span class='p-key'>Severity: </span>
              <span class='p-value' style='color:green'>GREEN</span>
            </div>
          {{/if}}
          {{#if (eq case.severity 3)}}
            <div>
              <span class='p-key'>Severity: </span>
              <span class='p-value' style='color:orange'>AMBER</span>
            </div>
          {{/if}}
          {{#if (eq case.severity 4)}}
            <div>
              <span class='p-key'>Severity: </span>
              <span class='p-value' style='color:red'>RED</span>
            </div>
          {{/if}}
        {{/if}}

        {{#if (eq case.tlp 0)}}
          <div>
            <span class='p-key'>TLP: </span>
            <span class='p-value'>WHITE</span>
          </div>
        {{/if}}
        {{#if (eq case.tlp 1)}}
          <div>
            <span class='p-key'>TLP: </span>
            <span class='p-value' style='color:green'>GREEN</span>
          </div>
        {{/if}}
        {{#if (eq case.tlp 2)}}
          <div>
            <span class='p-key'>TLP: </span>
            <span class='p-value' style='color:orange'>AMBER</span>
          </div>
        {{/if}}
        {{#if (eq case.tlp 3)}}
          <div>
            <span class='p-key'>TLP: </span>
            <span class='p-value' style='color:red'>RED</span>
          </div>
        {{/if}}

        {{#if (eq case.pap 0)}}
          <div>
            <span class='p-key'>PAP: </span>
            <span class='p-value'>WHITE</span>
          </div>
        {{/if}}
        {{#if (eq case.pap 1)}}
          <div>
            <span class='p-key'>PAP: </span>
            <span class='p-value' style='color:green'>GREEN</span>
          </div>
        {{/if}}
        {{#if (eq case.pap 2)}}
          <div>
            <span class='p-key'>PAP: </span>
            <span class='p-value' style='color:orange'>AMBER</span>
          </div>
        {{/if}}
        {{#if (eq case.pap 3)}}
          <div>
            <span class='p-key'>PAP: </span>
            <span class='p-value' style='color:red'>RED</span>
          </div>
        {{/if}}

        {{#if case.tags}}
          <span class='p-key'>Tags: </span>
          {{#each case.tags as |tag|}}
            <div>
              <span class='tag'>{{tag}}</span>
            </div>
          {{/each}}
        {{/if}}
        {{#if case.startDate}}
          <div>
            <span class='p-key'>Start Date: </span>
            <span class='p-value'>{{moment-format case.startDate timeZone=timezone}}</span>
          </div>
        {{/if}}
        {{#if case.status}}
          <div>
            <span class='p-key'>Status: </span>
            <span class='p-value'>{{case.status}}</span>
          </div>
        {{/if}}
        {{#if case.stage}}
          <div>
            <span class='p-key'>Stage: </span>
            <span class='p-value'>{{case.stage}}</span>
          </div>
        {{/if}}

        {{#if case.description}}
          <div>
            <div class='p-key'>Description:</div>
            <div class='p-description'>{{case.description}}</div>
          </div>
        {{/if}}


        {{#if (get caseObservables index)}}
          <a href='#' class='expandable-title' {{on 'click' (action 'toggleExpandableObservables' index)}}>
            <span class='text'><span class='desc'>Observable(s)</span> {{UNIQUE_VALUE}}</span>
            {{fa-icon icon='angle-up' fixedWidth=true}}
          </a>
          {{#each case.caseObservables as |observable|}}
            {{#if observable._id}}
              <h1 class='p-title'>
                {{fa-icon icon='eye' fixedWidth=true}}
                {{observable.data}}
              </h1>
              {{#if (eq observable.tlp 0)}}
                <div>
                  <span class='p-key'>TLP: </span>
                  <span class='p-value'>WHITE</span>
                </div>
              {{/if}}
              {{#if (eq observable.tlp 1)}}
                <div>
                  <span class='p-key'>TLP: </span>
                  <span class='p-value' style='color:green'>GREEN</span>
                </div>
              {{/if}}
              {{#if (eq observable.tlp 2)}}
                <div>
                  <span class='p-key'>TLP: </span>
                  <span class='p-value' style='color:orange'>AMBER</span>
                </div>
              {{/if}}
              {{#if (eq observable.tlp 3)}}
                <div>
                  <span class='p-key'>TLP: </span>
                  <span class='p-value' style='color:red'>RED</span>
                </div>
              {{/if}}
              {{#if (eq observable.pap 0)}}
                <div>
                  <span class='p-key'>PAP: </span>
                  <span class='p-value'>WHITE</span>
                </div>
              {{/if}}
              {{#if (eq observable.pap 1)}}
                <div>
                  <span class='p-key'>PAP: </span>
                  <span class='p-value' style='color:green'>GREEN</span>
                </div>
              {{/if}}
              {{#if (eq observable.pap 2)}}
                <div>
                  <span class='p-key'>PAP: </span>
                  <span class='p-value' style='color:orange'>AMBER</span>
                </div>
              {{/if}}
              {{#if (eq observable.pap 3)}}
                <div>
                  <span class='p-key'>PAP: </span>
                  <span class='p-value' style='color:red'>RED</span>
                </div>
              {{/if}}
              <div>
                <span class='p-key'>Case Created Date </span>
                <span class='p-value'>{{moment-time observable._createdAt}}</span>
              </div>
              <div>
                <span class='p-key'>Case Start Date </span>
                <span class='p-value'>{{moment-time observable.startDate}}</span>
              </div>

              <div>
                <span class='p-key'>Observable Message: </span>
                <span class='p-value'>{{observable.message}}</span>
              </div>
              <div>
                <span class='p-key'>Observable Type: </span>
                <span class='p-value'>{{observable.dataType}}</span>
              </div>
              <div>
                <span class='p-key'>Created By: </span>
                <span class='p-value'>{{observable._createdBy}}</span>
              </div>
              <div>
                <span class='p-key'>Is IOC? </span>
                <span class='p-value'>{{observable.ioc}}</span>
              </div>
              <div>
                <span class='p-key'>Observable Sighted? </span>
                <span class='p-value'>{{observable.sighted}}</span>
              </div>

              {{#if observable.tags}}
                <div class="mt-1">
                  <span class='p-key'>
                    Tags:
                  </span>
                  {{#each observable.tags as |tag|}}
                    <span class='pulse-tag'>{{tag}}</span>
                  {{/each}}
                </div>
              {{/if}}
            {{/if}}
          {{/each}}
        {{else}}
          <a href='#' class='expandable-title' {{on 'click' (action 'toggleExpandableObservables' index)}}>
            <span class='text'>Observable(s)</span>
            {{fa-icon icon='angle-down' fixedWidth=true}}
          </a>
        {{/if}}
      </div>
    {{/each}}
{{/if}}