{{#if details.errorMessage}}
  <div class='mt-2'>
    <div class='alert alert-danger'>
      <pre>{{details.errorMessage}}</pre>
    </div>
    {{#if (not (eq details.allowRetry false))}}
      <button type='button' class='p-btn btn btn-sm btn-secondary retry-btn mt-2' {{action 'retryLookup'}}>
        {{#if running}}
          {{fa-icon icon='spinner-third' fixedWidth=true spin=true}}
        {{else}}
          Retry Search
        {{/if}}
      </button>
      <div class='mt-1'>
        <span class='p-footnote'>
          You can retry your search by pressing the "Retry Search" button.</span>
      </div>
    {{/if}}
  </div>
{{else}}
  <ul class='nav nav-tabs'>
    {{#if details}}
      <li class='nav-item'>
        <a
          {{action 'changeTab' 'cases'}}
          class='nav-link {{if (or (eq changeTab "cases") (not changeTab)) "active"}}'
          href='#'
        >
          Cases
        </a>
      </li>
      {{!-- <li class='nav-item'>
        <a
          {{action 'changeTab' 'create'}}
          class='nav-link {{if (or (eq changeTab "create") (not changeTab)) "active"}}'
          href='#'
        >
          Create Case
        </a>
      </li> --}}
    {{/if}}
  </ul>

  {{!-- {{#if (eq changeTab 'cases')}}
    <div class='p-non-exfoliate-outer-padding'>
      {{#each details as |object|}}

      {{/each}}
    </div>
  {{/if}} --}}

  {{#if (eq changeTab 'cases')}}
    {{#each details as |case index|}}
      {{#if (not-eq index 0)}}
        <hr />
      {{/if}}

      <div class='case-options'>
        <h1 class='p-title'>
          Case #{{case.number}}
          {{if (get closedCase case._id) '(CASE HAS BEEN CLOSED)'}}
        </h1>
        {{#unless (get closedCase case._id)}}
          <button
            class='case-btn'
            title='Add an observable to this case'
            type='button'
            {{action 'toggleModal' case index 'observableModal'}}
          >{{fa-icon 'plus' fixedWidth=true}}</button>
          <button class='case-btn' title='Edit this case' type='button' {{action 'toggleModal' case index 'editModal'}}>
            {{fa-icon 'pen'}}</button>
          <button
            style='background-color: red'
            title='Close this case'
            class='case-btn'
            type='button'
            {{action 'toggleModal' case index 'closeCaseModal'}}
          >X</button>
        {{/unless}}
      </div>

      <div class='case-container'>
        {{#if case.title}}
          <div>
            <span class='p-key'>Title: </span>
            <span class='p-value'>{{case.title}}</span>
          </div>
        {{/if}}

        {{#if case.severity}}
          {{#if (eq case.severity 0)}}
            <div>
              <span class='p-key'>Severity: </span>
              <span class='p-value'>WHITE</span>
            </div>
          {{/if}}
          {{#if (eq case.severity 1)}}
            <div>
              <span class='p-key'>Severity: </span>
              <span class='p-value' style='color:green'>GREEN</span>
            </div>
          {{/if}}
          {{#if (eq case.severity 2)}}
            <div>
              <span class='p-key'>Severity: </span>
              <span class='p-value' style='color:orange'>AMBER</span>
            </div>
          {{/if}}
          {{#if (eq case.severity 3)}}
            <div>
              <span class='p-key'>Severity: </span>
              <span class='p-value' style='color:red'>RED</span>
            </div>
          {{/if}}
        {{/if}}
        {{#if case.tlp}}
          {{#if (eq case.tlp 0)}}
            <div>
              <span class='p-key'>TLP: </span>
              <span class='p-value'>WHITE</span>
            </div>
          {{/if}}
          {{#if (eq case.tlp 1)}}
            <div>
              <span class='p-key'>TLP: </span>
              <span class='p-value' style='color:green'>GREEN</span>
            </div>
          {{/if}}
          {{#if (eq case.tlp 2)}}
            <div>
              <span class='p-key'>TLP: </span>
              <span class='p-value' style='color:orange'>AMBER</span>
            </div>
          {{/if}}
          {{#if (eq case.tlp 3)}}
            <div>
              <span class='p-key'>TLP: </span>
              <span class='p-value' style='color:red'>RED</span>
            </div>
          {{/if}}
        {{/if}}

        {{#if case.pap}}
          {{#if (eq case.pap 0)}}
            <div>
              <span class='p-key'>PAP: </span>
              <span class='p-value'>WHITE</span>
            </div>
          {{/if}}
          {{#if (eq case.pap 1)}}
            <div>
              <span class='p-key'>PAP: </span>
              <span class='p-value' style='color:green'>GREEN</span>
            </div>
          {{/if}}
          {{#if (eq case.pap 2)}}
            <div>
              <span class='p-key'>PAP: </span>
              <span class='p-value' style='color:orange'>AMBER</span>
            </div>
          {{/if}}
          {{#if (eq case.pap 3)}}
            <div>
              <span class='p-key'>PAP: </span>
              <span class='p-value' style='color:red'>RED</span>
            </div>
          {{/if}}
        {{/if}}
        {{#if case.tags}}
          <span class='p-key'>Tags: </span>
          {{#each case.tags as |tag|}}
            <div>
              <span class='tag'>{{tag}}</span>
            </div>
          {{/each}}
        {{/if}}
        {{#if case.startDate}}
          <div>
            <span class='p-key'>Start Date: </span>
            <span class='p-value'>{{moment-format case.startDate timeZone=timezone}}</span>
          </div>
        {{/if}}
        {{#if case.status}}
          <div>
            <span class='p-key'>Status: </span>
            <span class='p-value'>{{case.status}}</span>
          </div>
        {{/if}}
        {{#if case.stage}}
          <div>
            <span class='p-key'>Stage: </span>
            <span class='p-value'>{{case.stage}}</span>
          </div>
        {{/if}}

        <span class='p-key'>Description:</span>
        <div class='scrollable-block'>
          <table>
            <tbody>
              <tr>
                <td class='pr-3'>
                  <div>
                    <span class='p-value'>{{case.description}}</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        {{#if (get caseObservables index)}}
          <a href='#' class='expandable-title' {{on 'click' (action 'toggleExpandableObservables' index)}}>
            <span class='text'><span class='desc'>Observable(s)</span> {{UNIQUE_VALUE}}</span>
            {{fa-icon 'angle-up'}}
          </a>

          {{#each case.caseObservables as |observable|}}
            {{#if observable._id}}

              <hr />

              <div>
                <a
                  href='{{block.userOptions.url}}/index.html#/case/{{observable._parent}}/details'
                  class='p-link'
                >(Pivot To Case Details)</a>
              </div>

              <h1 class='p-title'>
                {{fa-icon 'eye' fixedWidth=true}}
                Observable Information
              </h1>

              {{#if (eq observable.tlp 0)}}
                <div>
                  <span class='p-key'>TLP: </span>
                  <span class='p-value'>WHITE</span>
                </div>
              {{/if}}
              {{#if (eq observable.tlp 1)}}
                <div>
                  <span class='p-key'>TLP: </span>
                  <span class='p-value' style='color:green'>GREEN</span>
                </div>
              {{/if}}
              {{#if (eq observable.tlp 2)}}
                <div>
                  <span class='p-key'>TLP: </span>
                  <span class='p-value' style='color:orange'>AMBER</span>
                </div>
              {{/if}}
              {{#if (eq observable.tlp 3)}}
                <div>
                  <span class='p-key'>TLP: </span>
                  <span class='p-value' style='color:red'>RED</span>
                </div>
              {{/if}}
              <div>
                <span class='p-key'>Case Ceated Date </span>
                <span class='p-value'>{{moment-time observable.createdAt}}</span>
              </div>
              <div>
                <span class='p-key'>Case Start Date </span>
                <span class='p-value'>{{moment-time observable.startDate}}</span>
              </div>

              <div>
                <span class='p-key'>Observable Message: </span>
                <span class='p-value'>{{observable.message}}</span>
              </div>
              <div>
                <span class='p-key'>Observable Type: </span>
                <span class='p-value'>{{observable.dataType}}</span>
              </div>
              <div>
                <span class='p-key'>Created By: </span>
                <span class='p-value'>{{observable.createdBy}}</span>
              </div>
              <div>
                <span class='p-key'>Is IOC? </span>
                <span class='p-value'>{{observable.ioc}}</span>
              </div>
              <div>
                <span class='p-key'>Observable Sighted? </span>
                <span class='p-value'>{{observable.sighted}}</span>
              </div>

              <div>
                <span class='p-key'>Hive Type? </span>
                <span class='p-value'>{{observable._type}}</span>
              </div>
              {{#if observable.tags}}
                <div class='p-title'>
                  {{fa-icon 'tag' fixedWidth=true}}
                  Tags
                </div>
                <div class='tags'>
                  {{#each observable.tags as |tag|}}
                    <span class='pulse-tag'>{{tag}}</span>
                  {{/each}}
                </div>
              {{/if}}
            {{/if}}
          {{/each}}
        {{else}}
          <a href='#' class='expandable-title' {{on 'click' (action 'toggleExpandableObservables' index)}}>
            <span class='text'>Observable(s)</span>
            {{fa-icon 'angle-down'}}
          </a>
        {{/if}}
      </div>

      {{#if case.__editModalOpen}}
        <div class='edit-case-modal'>
          <div class='edit-case-container'>
            <h1 class='p-title'>
              Editing Case #{{case.number}}
            </h1>

            <form {{action 'submit' on='submit'}}>
              <table class='case-inputs'>
                <tr>
                  <td> <label for='title'>Title: </label></td>
                  <div>{{input
                      class='case-title'
                      onclick=(action (mut titleInput value='target.value'))
                      value=titleInput
                      placeholder='Title'
                      required='true'
                    }}</div>
                </tr>
                <tr>
                  <td> <label for='severity'>Severity: </label></td>
                  {{#each-in severityLevels as |level color|}}
                    <button
                      id='severity-{{color}}'
                      {{action 'selectSeverityLevelAndSetInput' level color}}
                    >{{level}}</button>
                  {{/each-in}}
                </tr>
                <tr>
                  <td> <label for='tlp'>TLP: </label></td>
                  {{#each-in levels as |level color|}}
                    <button id='tlp-{{color}}' {{action 'selectLevelAndSetInput' level color 'tlp'}}>{{capitalize
                        level
                      }}</button>
                  {{/each-in}}
                </tr>
                <tr>
                  <td> <label for='tlp'>PAP: </label></td>
                  {{#each-in levels as |level color|}}
                    <button id='pap-{{color}}' {{action 'selectLevelAndSetInput' level color 'pap'}}>{{capitalize
                        level
                      }}</button>
                  {{/each-in}}
                </tr>
              </table>

              <div>
                {{textarea
                  class='edit-case-description'
                  onchange=(action (mut descriptionInput value='target.value'))
                  value=updatedDescriptionInput
                  cols='30'
                  rows='4'
                  placeholder='Case Description'
                }}
              </div>
              <div class='edit-case-options'>
                <button class='edit-modal-btn' type='button' {{action 'toggleModal' case index 'editModal'}}>
                  Cancel
                </button>
                <button class='edit-modal-btn' type='button' {{action 'submitEdit' case index 'editModal'}}>
                  {{#if isRunning}}
                    {{fa-icon 'spinner-third' fixedWidth=true spin=true}}
                  {{/if}}
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      {{/if}}

      {{#if case.__observableModalOpen}}
        <div class='case-modal'>
          <div class='case-container'>
            <h1 class='p-title'>
              Adding an observable for case #{{case.number}}
            </h1>
            <table>
              <tr>
                <td><label for='title'>Type: </label></td>
                <select
                  class='modal-select'
                  required='true'
                  onclick={{action (mut observableTypeInput) value='target.value'}}
                >
                  <option value='none' selected disabled hidden>Select Type</option>
                  <option value='hash'>hash</option>
                  <option value='ip'>ip</option>
                  <option value='domain'>domain</option>
                </select>
              </tr>
              <tr>
                <td> <label for='value'>Value: </label></td>
                {{input
                  required=true
                  class='observable-title'
                  onclick=(action (mut valueInput value='target.value'))
                  value=valueInput
                  placeholder='Value'
                }}
              </tr>
              <tr>
                <td> <label for='tlp'>TLP: </label></td>
                {{#each-in levels as |level color|}}
                  <button
                    id='observable-tlp-{{color}}'
                    {{action 'selectLevelAndSetInput' level color 'observable-tlp'}}
                  >{{capitalize level}}</button>
                {{/each-in}}
              </tr>
              <tr>
                <td> <label for='ioc'>is IOC: </label></td>
                {{input type='checkbox' checked=isIocInput onchange=(action (mut isIocInput checked='target.value'))}}
              </tr>
              <tr>
                <td> <label for='sighted'>Has been sighted: </label></td>
                {{input
                  type='checkbox'
                  checked=sightedInput
                  onchange=(action (mut sightedInput checked='target.value'))
                }}
              </tr>
              <tr>
                <td> <label for='tags'>Tags: </label></td>
                {{input onclick=(action (mut tagsInput value='target.value')) value=tagsInput placeholder='Tags'}}
                <div class='mb-2 create-case-footnote'>
                  <span class='p-footnote'>Add space separated strings.</span>
                </div>
              </tr>
            </table>

            <div>
              {{textarea
                class='case-description'
                onchange=(action (mut observableDescriptionInput value='target.value'))
                value=observableDescriptionInput
                cols='30'
                rows='4'
                placeholder='Observable Description'
              }}
            </div>

            <div class='case-options'>
              <button class='case-modal-btn' type='button' {{action 'toggleModal' case index 'observableModal'}}>
                Cancel
              </button>
              <button class='case-modal-btn' type='button' {{action 'addObservable' case index 'observableModal'}}>
                {{#if isRunning}}
                  {{fa-icon 'spinner-third' fixedWidth=true spin=true}}
                {{/if}}
                Add Observable
              </button>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if case.__closeCaseModalOpen}}
        <div class='containment-modal'>
          <div class='modal-container'>
            <div class='modal-text'>
              <span>
                Are you sure you want to close case #{{case.number}}?
              </span>
            </div>
            <div class='modal-options'>
              <div>
                <button {{action 'toggleModal' case index 'closeCaseModal'}} class='modal-btn'>Cancel</button>
              </div>
              <div>
                <button {{action 'closeCase' case index}} class='modal-btn'>
                  {{#if isRunning}}
                    {{fa-icon 'spinner-third' fixedWidth=true spin=true}}
                  {{/if}}
                  Confirm</button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    {{/each}}
  {{/if}}
{{/if}}